vpc_name             = "Ghost_VPC"
vpc_cidr_block       = "10.0.0.0/16"
region               = "us-east-1"
avail_zone           = ["us-east-1a", "us-east-1b"]
public_subnets       = ["10.0.101.0/24", "10.0.102.0/24"]
database_subnets     = ["10.0.1.0/24", "10.0.2.0/24"]
mysql_engine_version = "8.0.32"
mysql_instance_class = "db.t2.micro"
mysql_name           = "GhostDB"
mysql_username       = "GhostAdmin"
mysql_password       = # Secure Password
mysql_parameter_group_name = "default.mysql8.0"
ec2_instance_type    = "t2.micro"
asg_max_size         = "1"
asg_min_size         = "1"
env_prefix           = "dev"
my_ip                = "0.0.0.0/0"
#public_key_location  = # location to your public key for SSH access
image_name           = "ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-*"